body {
  padding-bottom: 70px;
}
.logo {
  height:70px;
  width:auto;
  vertical-align: bottom;
  margin-top: 20px;
}
a.nodec { 
  color: #333333;
  text-decoration:none 
}
a.nodec:hover { 
  color:#4582ec;
}
.trademark {
  padding-left:5px;
  font-style: bold;
}
.news {
  padding: 15px;
  background-color: #fef4e9;
  border-radius: 4px;
  margin-bottom: 20px;
}
.news li {
  margin-bottom:10px;
}
.news li .date {
  color: #888;
  font-size: 12px;
}
.tagline {
  display: inline-block;
  font-style: italic;
  color: #2ca2e7;
  padding-left:5px;
  padding-bottom: 20px;
}
.tagline {
  font-size: 18px;
}
@media (min-width: 768px) {
  .tagline {
    font-size: 19px;
  }
}
.pubs {
}
.pubitem {
  font-size: 16px;
}
