<div class="news">
  <h3>News</h3>
  <ul class="list-unstyled">
    <li>Gave a talk on DefDroid at <a href="http://cns.ucsd.edu">UCSD CNS Research Review</a> <span class="date">(04/21 2016)</span></li>
    <li>The <a href="http://cseweb.ucsd.edu/~peh003/papers/defdroid-mobisys16.pdf">paper</a> describing DefDroid was accepted by <a href="www.sigmobile.org/mobisys/2016">MobiSys '16</a> <span class="date">(02/23 2016)</span></li>
    <li>DefDroid was deployed to <a href="https://phone-lab.org">PhoneLab</a> <span class="date">(09/21 2015)</span></li>
    <li>DefDroid was ported to Android 5.1 <span class="date">(09/21 2015)</span></li>
  </ul>
</div>
<p><a class="btn btn-lg btn-success" href="/download.html" role="button">Get DefDroid</a></p>
